.header {
  display: flex;
  flex-direction: column;
}

.header__title {
  margin-block-end: 20px;
  font-size: clamp(2rem, 1.143rem + 4.29vw, 5rem);
  font-weight: 900;
  line-height: normal;
}

@media (width <= 760px) {
  .header__title {
    margin-block-end: 30px;
  }
}

.header__list {
  display: flex;
  gap: 20px;
}

@media (width <= 760px) {
  .header__list {
    flex-direction: column;
  }
}

.header__item {
  width: 180px;
  height: 60px;
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 30px;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  cursor: pointer;
  color: #000;
}

@media (width <= 760px) {
  .header__item {
    width: 100%;
  }
}

.header__item:hover {
  background-color: #000;
  color: var(--yellow-color);
}

.is-active {
  background-color: #000;
  color: var(--yellow-color);
}

.main {
  padding-block-start: clamp(3.75rem, 3.393rem + 1.79vw, 5rem);
}

.main__card {
  margin-block-end: clamp(3.75rem, 3.393rem + 1.79vw, 5rem);
}

.main__city {
  font-size: clamp(3.125rem, 2.232rem + 4.46vw, 6.25rem);
  font-weight: 400;
  line-height: normal;
}

.main__date {
  margin-inline-start: 7px;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

.page__section {
  margin-block-start: 60px;
}

.places__item {
  padding: 50px;
  width: clamp(41.875rem, 14.837rem + 56.85vw, 66rem);
  border: 2px solid #000;
  border-radius: 20px;
}

@media (width <= 760px) {
  .places__item {
    border: none;
    padding: 0;
    width: 100%;
  }
}

.places__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  margin-block-end: 30px;
}

@media (width <= 580px) {
  .places__info {
    flex-direction: column;
    align-items: flex-start;
    gap: clamp(1.875rem, -0.398rem + 11.36vw, 5rem);
  }
}

.places__temperature {
  font-size: clamp(7.5rem, 2.723rem + 13.15vw, 14.563rem);
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -10px;
}

.places__card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-content: center;
  padding: clamp(1.875rem, 1.696rem + 0.89vw, 2.5rem);
  width: clamp(20rem, 13.556rem + 13.55vw, 25.75rem);
  height: clamp(9.625rem, 8.214rem + 7.05vw, 14.563rem);
  border-radius: 20px;
  background: #000;
  color: var(--yellow-color);
}

@media (width <= 580px) {
  .places__card {
    width: 100%;
  }
}

.places__list {
  text-align: center;
}

.places__image {
  margin-block-end: 10px;
  width: clamp(3.125rem, 2.518rem + 3.04vw, 5.25rem);
}

.places__title {
  margin-block-end: 5px;
  font-size: clamp(1rem, 0.857rem + 0.71vw, 1.5rem);
  font-weight: 900;
  line-height: normal;
}

.places__paragraph {
  font-size: clamp(0.75rem, 0.679rem + 0.36vw, 1rem);
  font-weight: 400;
  line-height: normal;
}

.places__daily {
  margin-block-end: 20px;
  font-size: clamp(1rem, 0.857rem + 0.71vw, 1.5rem);
  font-weight: 900;
  line-height: normal;
}

.places__description {
  width: 100%;
  font-size: clamp(1rem, 0.857rem + 0.71vw, 1.5rem);
  font-weight: 400;
  line-height: normal;
}

.places__accent {
  font-weight: 900;
}

.footer p {
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}
